* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: url(./images/slate-tiled.jpg);
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem 1fr;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: 1/1/2/5;
  background-color: #6360f5;
  align-content: center;
  height: 4em;
  opacity: 0.8;
}

#header div {
  margin: 1rem 4rem 0 4rem;
  color: darkslategray;
  font-size: 1.3em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header div:hover {
  cursor: default;
}

#clockContainer {
  grid-area: 2/1/4/2;
}

#main {
  grid-area: 2/2 / auto/5;
}

#projectContainer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

.projectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 300px;
  height: min-content;
  margin: 20px;
}

#projectContainer a {
  text-decoration: none;
  color: darkslategray;
}

#projectContainer a:hover {
  color: #fff;
  cursor: default;
}

#projectContainer img {
  margin-top: 10px;
  transition: box-shadow;
  transition-duration: 100ms;
}

#projectContainer img:hover {
  box-shadow: 1px 1px 5px grey;
}

.linksBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
  margin: 10px;
}

.description {
  text-align: center;
  margin: 30px 0 10px 0;
  color: darkslategray;
}

#contactDetails {
  text-align: center;
  color: darkslategray;
  font-size: 1.8em;
}

#contactDetails p:first-child {
  margin-top: 6em;
}

#contactDetails p {
  margin: 2em;
}

#emailLink {
  text-decoration: none;
  cursor: default;
  color: darkslategray;
}

#emailLink:hover {
  color: #fff;
}

.aboutContainer {
  text-align: center;
  color: darkslategray;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer div {
  margin: 1em;
}

.aboutContainer img {
  height: 300px;
  margin-top: 20px;
}

#aboutText {
  margin-top: 1em;
}

#skillsBox {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}

#listBox {
  margin-top: 0;
  font-size: 0.9em;
  text-align: left;
}

#listBox:first-child {
  margin-top: 0;
}

#select {
  color: darkslategray;
  font-size: 1.2em;
  text-align: right;
  margin: 30px 30px 0 30px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ned:hover {
  color: #fff;
}

#eng:hover {
  color: #fff;
}

@media screen and (max-width: 480px) {
  #header {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 160px;
  }

  #projectContainer {
    flex-direction: column;
    align-content: center;
  }

  #clockContainer {
    grid-area: 1/1 / auto/auto;
  }

  #grid {
    grid-template-rows: 10rem repeat(3, 1fr);
  }

  #main {
    grid-area: 2/1 / auto/5;
  }

  #contactDetails {
    font-size: 1em;
  }

  #skillsBox {
    flex-direction: column;
    align-content: center;
  }
}
